
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  background: #181818;
  overflow: hidden;
}

fluent-design-system-provider {
  --accent-fill-rest: #6c63ff;
  --background-color: #181818;
  --accent-fill-hover: #DA1A5F;
  --neutral-foreground-rest: white;
  --neutral-fill-rest: #2d2d2d;
  --neutral-fill-hover: #2d2d2dda;
}
